<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="padding-left: 15px;">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img src="../Logo.png" width="50" height="50" style="margin-left: 10px;">
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">Alpha Group © 2020</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/african-egyptian"><img src="../facebook.png" alt="Facebook" width="50px" height="50px"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/african-egyptian"><img src="../facebook.png" alt="Facebook" width="50px" height="50px"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/african-egyptian"><img src="../facebook.png" alt="Facebook" width="50px" height="50px" style="margin-right: 10px;"></a></li>
    </ul>
  </footer>
</body>
</html>