<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
        <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/main.css">
        <title>Landing Page</title>
    </head>
    <body>