<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1" style="text-align: right;">نبذة عن الشركة</h2>
        <p class="lead">شركة شمنسياميسشن ميسنشاتمسيشتمي سشتمن شيسمنتشسمتيسشمتشسم نسشي يشسمتي مت سيشمن سشمنيت ميشست مسشنيت سشمتيمشست منيسش سيشمنتسشي</p>
      </div>
      <div class="col-md-5">
        <img src="Logo.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

       <!-- Three columns of text below the carousel -->
      <h1 style="text-align: center; font-size: 50px; margin-bottom: 15px;">شركائنا</h1>
      <div class="container-fluid flexbox">
        <img src="Logo.png" alt="">
        <img src="Logo.png" alt="">
        <img src="Logo.png" alt="">

      </div>

  </div>