<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-inner" style="width: 100vw; height: 50vh;">
    <video src="Video.mp4" class="w-100" autoplay></video>
  </div>
</div>