<%- include('./partials/header.ejs') %>
<% if(user){ %>
  <%- include('./partials/admin-navbar.ejs') %>
  <% } else { %>
  <%- include('./partials/contact-navbar.ejs') %>
  <% } %>
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1>تواصل معنا</h1>
    <div class="container flexbox">
    <div class="icon">
        <a class="contact" type="button" href="tel:033853500">
            <img src="telephone.png" width="100%" height="100%">
        </a>
    </div>
    <div class="icon">
      <a class="contact" type="button" href="tel:01224815786">
       <img src="phone-call.png" width="100%" height="100%">
      </a>
    </div>
      <div class="icon">
        <a class="contact" type="button" href="mailto: info@alphagroup-egaf.com">
         <img src="mail.png" width="100%" height="100%">
        </a>
      </div>
    </div>
  </div>
<%- include('./partials/footer.ejs') %>