<%- include('./partials/header.ejs') %>
<div class="container">
    <h1>Alpha Group</h1>
    <button class="btn btn-primary">Sign Up</button>
    <button class="btn btn-primary-outline">Login</button>
</div>
<%- include('./partials/footer.ejs') %>