<%- include('./partials/header.ejs') %>
<div class="p-5 text-center bg-body-tertiary rounded-3">
    <img src="Logo.png" class="bi mt-4 mb-3">
    <h1 class="text-body-emphasis">الفا جروب</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      للتدريب و تنظيم المؤتمرات
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
            تسجيل الدخول
       </button>
      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        إنشاء حساب
        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
      </button>
    </div>
  </div>
<%- include('./partials/footer.ejs') %>