.container-fluid {
    flex-wrap: nowrap !important;
    flex-shrink: 1;
}
.card {
    margin-bottom: 50px;
}
.card-body {
    padding: 0;
    padding-top: 16px;
    text-align: right;
}

input {
    width: 40vw;
}

.form-select {
    width: 40vw;
    display: inline;
}

.flexbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-header {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #C68939;
}

.btn-primary {
    background-color: #062AA7;
    border-color: black;
}

.btn-primary:hover {
    background-color: #C68939;
    border-color: black;
}

.iconbox {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#icon {
    width: max-content;
}

hr {
    margin: 0;
}