body {
    text-align: right;
    overflow-x: hidden;
}

.btn-primary {
    background-color: #C68939;
    border-color: #a8793c;
}

.btn-primary:hover {
    background-color: #062AA7;
}

.form-select {
    text-align: right;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.form-floating {
    margin-bottom: 30px;
}

.flexbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flexbox img {
    margin-bottom: 15px;
}

.w-100 {
    width: 100vw;
    height: 50vh;
}

video {
    object-fit: fill;
}

.partners {
    margin: auto;
    width: 150px;
    height: 150px;
    margin-bottom: 200px;
}

.btn-block {
    width: 100%;
}